/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/vendor
/resources/public/css
resources/public/js/min
.lein-failures
out
**/.DS_Store
.idea/
*.iml
pom.xml
.nrepl-port
node_modules